/* css selectors guide: https://www.w3schools.com/cssref/css_selectors.asp */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  /* Colors */
  --color-black: black;
  --color-pastel-green: #86E88F;
  
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

a {
	color: var(--color-black);
	text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover, .current {
	color: var(--color-pastel-green);
}

header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  padding: 10px;
}

nav {
  padding: 10px;
  float: right;
}

ul {
	list-style: none;
}

nav > ul > li {
	display: inline-block;
	padding: 10px
}

@media all and (max-width: 600px) {
	header {
		margin: 10px;
		text-align: center;
	}
	header > nav {
		line-height: 1;
    float: none;
	}
}

footer {
  position: relative;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}

footer a:hover {
  border-bottom: 1px transparent;
}

main {
  position: relative;
  min-height: 100vh
}

/* Participants Card Section */
.section-students, .section-instructors {
  padding-top: 3rem;
  text-align: center;
  margin: 0 auto;
}
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}


.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }

  .footer {
    background-color: #232323;
    color: #fff;
    height: 120px;
    padding: 15px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    font-style: var(--font-sans);
    padding : 20px;

  }

  .footer-search{
      float :right;
      padding-top: 20px;
      padding-bottom: 20px;
  }
}

/*terminal part*/
.hero__terminal {
    width: 60%;
    font-style: var(--font-serif);
    margin: 3rem auto 3rem auto;
    text-align: left;
    color: white;
    padding: 0 1rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    line-height: 1.3em;
    border-radius: 4px;
    background-color: #232323;
    min-height: 285px;
    animation: fadeUp 2s;
    box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
  }
  
  .hero__terminal pre {
    white-space: pre-line;
    padding-top: 1rem;
  }

  .hero__terminal span{
      color: var(--color-pastel-green);
  }

