<nopc><style type="text/css">

 .title{
  width:100%;
  font-size:170%;
  padding:8% 4%;
  text-align:left;
  color:#fff;
  background-color:#008db7;
 }

 .menu{
  width:100%;
  padding:2% 4%;
  margin-bottom:6%;
  text-align:right;
  border-bottom:1px solid #dcdcdc;
 }

 .content{
  width:100%;
  padding:0% 4%;
  text-align:left;
 }

 .footer{
  width:100%;
  padding:2% 4%;
  margin-top:8%;
  margin-bottom:2%;
  text-align:right;
  color:#fff;
  background-color:#008db7;
 }

 body{
  font-size:80%;
  line-height:1.2;
 }

 span{
  border-bottom:2px dotted #008db7;
 }

 a{
  text-decoration:none;
  border-bottom:1px dotted #008db7;
 }

 input,textarea{
  color:#fff;
  background-color:#008db7;
  border:solid 1px #000;
 }

</style></nopc>


<pc_only><style type="text/css">

 .title{
  width:100%;
  font-size:150%;
  padding:4%;
  text-align:left;
  color:#fff;
  background-color:#008db7;
  border:1px solid #000;
 }

 .menu{
  width:100%;
  padding:1% 4%;
  text-align:right;
  border-left:1px solid #000;
  border-right:1px solid #000;
  border-bottom:1px dotted #000;
 }

 .content{
  width:100%;
  padding:3% 4% 4%;
  text-align:left;
  border-left:1px solid #000;
  border-right:1px solid #000;
 }

 .footer{
  width:100%;
  padding:1% 4%;
  margin-bottom:1%;
  text-align:right;
  color:#fff;
  background-color:#008db7;
  border:1px solid #000;
 }

 body{
  width:42%;
  font-size:80%;
  line-height:180%;
  letter-spacing:1px;
  font-family:Georgia,Osaka,"MS Pゴシック";
  margin:2% 29%;
 }

 span{
  font-size:120%;
  border-bottom:2px dotted #008db7;
  line-height:200%;
 }

 a{
  text-decoration:none;
  cursor:help;
 }

 a:link,a:visited{
  border-bottom:1px dotted #008db7;
 }

 a:hover{
  color:#008db7;
  position:relative;
  top:1px;
  left:1px;
 }

 br{
  letter-spacing:normal;
 }

 input,textarea,select{
  margin:6px;
  color:#fff;
  background-color:#008db7;
  border:1px solid #000;
  font-size:100%;
  font-family:Georgia,Osaka,"MS Pゴシック";
 }

</style></pc_only>


<smartphone><style type="text/css">
 .title{
  font-size:170%;
  padding:8% 4%;
  text-align:left;
  color:#fff;
  background-color:#008db7;
 }

 .menu{
  padding:2% 4%;
  margin-bottom:6%;
  text-align:right;
  border-bottom:1px solid #dcdcdc;
 }

 .content{
  padding:0% 4%;
  text-align:left;
 }

 .footer{
  padding:2% 4%;
  margin-top:8%;
  margin-bottom:2%;
  text-align:right;
  color:#fff;
  background-color:#008db7;
 }

 body{
  line-height:180%;
  letter-spacing:2;
  font-size:90%;
 }

 span{
  line-height:240%;
  border-bottom:2px dotted #008db7;
 }

 a{
  text-decoration:none;
  border-bottom:1px dotted #008db7;
 }

 input,textarea,select{
  color:#000;
  background-color:#fff;
  border:solid 1px #000;
  padding:2px;
  line-height:180%;
  letter-spacing:2;
 }

</style></smartphone>